<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SummerNoteTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F1B7A521D7FE6530026AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1B7A6B1D7FE6530026AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1B7A761D7FE6530026AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
